################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileManager/.vs/FileManager
/FileManager/x64/Debug
/FileManager/Terminal/x64/Debug
/FileManager/Files/x64/Debug
/FileManager/packages/*
**/x64/Debug
